.App {
  margin: 20px auto;
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 1200px;
  background-color: lightblue;
}

.App h1 {
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
}